@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    font-family: 'Poppins';
    background-color: rgb(242,242,244);
}


nav {
    max-width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
}

nav .logo {
    align-items: left;
    display: flex;
    justify-content: space-between;
}

.searchbar {
    width: 40rem;
    height: 2.5rem;
    margin-left: 6rem;
}

.nav-buttons {
    display: flex;
    max-width: 30rem;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.button img {
    display: inline-block;
    vertical-align: middle;
    height: inherit;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: blue;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.txt {
    display: inline; 
    color: blue;
}



.button-icons {
    max-width: 80rem;
    min-height: 6rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}

.button-icons .icon .dropdown .dropbtn img{
    cursor: pointer;
}


.button-icons .icon img{
    cursor: pointer;
}


.headingToProducts {
    font-size: 2rem;
    text-align: left;
    margin-left: 4rem;
}

hr {
    width: 90%;
}

.crousel {
    margin-top: 0.6rem;
}